@import 'https://fonts.googleapis.com/css?family=Playfair+Display';
@import 'https://fonts.googleapis.com/css?family=Lato';

*, *:before, *:after {
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
}

html {
	height: 100%;
	width: 1600px;
	height: 1200px;
}

body {
	font: 300 20px/1.5 "Lato", Arial, serif;
	color: #fff;
}

.ba-container {
	background-color:  #ffffff;
	box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.1);
	margin: 100px 130px;
	width: 1400px;
	height: 940px;
}

.ba-title {
	font-family: "Playfair Display", serif;
	color:  #171717;
	font-size: 42px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 70px;
}

.ba-text {
	font-family: "Lato", sans-serif;
	color:  #171717;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	line-height: 34px;
	width: 1150px;
	height: 500px;
	padding: 140px 138px 140px 121px;
}


article p:first-of-type:first-letter {
	font-family: "Playfair Display", Arial, serif;
	float: left;
	font-size: 110px;
	margin-right: 25px;
	line-height: 95px;
	color: #171717;
	font-weight: 400;
}

.ba-quote::before {
	content: "“";
	font-size: 	50px;
	margin-right: 20px;
	display: inline-block;
}

.ba-quote {
	font-style: italic;
	font-size: 24px;
}

.ba-discover {
	font-family: "Lato", serif;
	color:  #eaa258;
	font-size: 18px;
	font-weight: 700;
	line-height: 34px;
	text-align: center;
	border: 2px solid #eaa258;
	width: 260px;
	height: 64px;
	background: #FFF;
	cursor: pointer;
}

